img {
  cursor: pointer
}

.modal-90w {
  min-width: 60vw;
  max-height:calc(100% - 80px);
  position: relative;
}

.modal-image {
  max-width: 90%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: inherit; */
}

/* .modal {
  max-width:calc(100% - 80px);
  max-height:calc(100% - 80px);
} */