

.container {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: #01355b;
  margin-top: 150px;
}

div .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*setting background color and opacity for the form*/
.col-md-8 {
  background-color: rgba(219, 226, 235, 0.8);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.card {
  background-color: rgba(219, 226, 235, 0.8);
  margin-right: 40px;
  width: 18rem;
}

#mobile {
  vertical-align: middle;
}

.fa {
  font-size: 24px;
  color: dodgerblue;
}