.about {
  padding-top: 50px;
  min-height: 110vh;
  /* background-size: cover; */
  background: #edeffb;
}

#about-main {
  margin-top: 100px;
  margin-bottom: 30px;
}

.blueH1 {
  color: #030132;
  font-family: "Blinker", sans-serif;
  font-weight: 800;
}

.bio {
  color: #030132;
  font-size: 22px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
}

#info-section {
  margin-bottom: 50px;
}

#skill-row {
  padding-bottom: 30px;
}
