.home {
  background-image: url(../../../assets/ColoredGlass.jpg);
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
}


