.home {
  background-image: url(../../../assets/ColoredGlass.jpg);
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
}

#main {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
